<div>
    <h2>adminhome Home Works!</h2> <br>
    <h3> {{userName}}</h3>
    <h2>Angular nested Routing Example</h2>
    <a routerLinkActive="active" routerLink="addproduct">Add Product</a> |
    <a routerLinkActive="active" routerLink="deleteproduct">Delete product</a> |
    <a routerLinkActive="active" routerLink="updateproduct">Update Product</a> |
    <a routerLinkActive="active" routerLink="viewrequest"> View request</a> |
    <a routerLinkActive="active" routerLink="addemployee"> Add Employee</a> |
    <a routerLinkActive="active" routerLink="deleteemployee"> Delete Employee</a> |
    <a routerLinkActive="active" routerLink="generatereports"> Generate Reports</a>
    <hr />


    <div class="container">
        <!-- put this where you want the component to show up  -->
        <router-outlet></router-outlet>
    </div>

</div>